@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

:root{
    --padding-container: 20px 0;
    --color-title: #001A49;
}
body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url() no-repeat; 
}

@media (max-width:952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


/*Slider Imagenes Promociones*/
.promociones{
    background-color: #fffffff3;
    height: 500px;
}

.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider{
    background-image: url(./../images/promocion1.jpg);
    background-size: cover;
    height: 60%;
    width: 90%;
    border-radius: 10px;
    animation: animate 30s infinite linear;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}
@media screen and (max-width:480px) {
    .promociones{
        background-color: #fffffff3;
        height: 550px;
    }
    .position {
        position: relative;
        top: 50%;
        left: 100%;
        transform: translate(-50%,-50%);
        margin-left: 100px;
    }
    .slider{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
        height: 60%;
        width: 200%;
        border-radius: 10px;
        animation: animate 30s infinite linear;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
    }
}


@keyframes animate {
    
    25%{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(./../images/promocion2.jpg);
        background-size: cover;
      
    }
    100%{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    
}


/*Price*/
.subtitle{
    color: #000000;
    
}

.price{
    text-align: center;
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.price_element1{
    margin-left: auto;
    margin-right: auto;
    width: 400PX;
    text-align: center;
    background-color: #8d8dcd;
    border-radius: 10px;
    height: 30PX;
}
.price_element--best{
    background-color: #ff7143;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#fff;
    --bg-cta:#9f3919;
    --color-cta: #fff;
    --color-items:#fff;
}
.price_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.price_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size:1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgb(0, 0, 0, .5);
}
.price_cta1{
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 800;
    color: var(--color-cta);
    font-size: large;
}

/*equipos */

.equipos{
    height: 800px;
    padding: 50px;
}

.imagenservicios{
    width: 950px;
    height: 650px;
    text-align: center;
}

/*nuestros servicios*/
.nuestrosservicios{
    height: 450px;
    background-color: #1D293F;
}
.nuestrosservicios_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.nuestrosservicios_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.nuestrosservicios_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.nuestrosservicios_price{
    font-size: 2.5rem;
    color: var(--color-price);
}

/*Personal*/
.heropersonal{
    width: 100%;
    height: 8vh;
    min-height: 100px;
    max-height: 200px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}

.navpersonal{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.imagen_iniciopersonal{
    width: 200px;
    display:block;
    margin:auto;
}

.personal{
    text-align: center;
}
.personal_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.personal_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 530px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.personal_element--best{
    background-color: #95ff43;
    --color-personal:#000000;
}

.personal_personal{
    font-size: 1.3rem;
    color: var(--color-personal);
}

.imagenpersonal{
    width: 100%;
    height: 8vh;
    min-height: 200px;
    max-height: 300px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}

.imagennavpersonal{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.imagen_personal{
    width: 200px;
    display:block;
    margin:auto;
}

.personalinfo{
    text-align: center;
}
.personal_tableinfo{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.personal_elementinfo{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 40px;
}
.personal_element--bestinfo{
    background-color: #9c9c9c;
    --color-personal:#000000;
}

.personal_personalinfo{
    font-size: 1.7rem;
    color: var(--color-personal);
}
