@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

:root{
    --padding-container: 20px 0;
    --color-title: #001A49;
}
body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 8vh;
    min-height: 100px;
    max-height: 200px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
}
.imagen_inicio{
    width: 200px;
}
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_title{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}
.nav_items{
    list-style: none;

}
.nav_links{
    color: #000000;

}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}
.nav_close{
    display: var(--show,none);
}

/*Hero Container */

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero_title{
    font-size: 3rem;
}
.hero_paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}

/*Price*/
.subtitle{
    color: #000000;
    
}

.price{
    text-align: center;
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.price_element1{
    margin-left: auto;
    margin-right: auto;
    width: 400PX;
    text-align: center;
    background-color: #8d8dcd;
    border-radius: 10px;
    height: 30PX;
}
.price_element--best{
    background-color: #ff7143;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#fff;
    --bg-cta:#9f3919;
    --color-cta: #fff;
    --color-items:#fff;
}
.price_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.price_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size:1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgb(0, 0, 0, .5);
}
.price_cta1{
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 800;
    color: var(--color-cta);
    font-size: large;
}
/*Promociones*/
.promociones{
    background-color: #fffffff3;
    height: 500px;
}

.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slider{
    background-image: url(./../images/promocion1.jpg);
    background-size: cover;
    height: 60%;
    width: 90%;
    border-radius: 10px;
    animation: animate 30s infinite linear;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

@keyframes animate {
    
    25%{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(./../images/promocion2.jpg);
        background-size: cover;
      
    }
    100%{
        background-image: url(./../images/promocion1.jpg);
        background-size: cover;
    }
    
}

/*equipos */

.equipos{
    height: 300px;
}

.servicios{
    height: 150px;
    width: 250px;
}

.imagenservicios{
    width: 250px;
    height: 150px;
}


/*Personal*/
.heropersonal{
    width: 100%;
    height: 8vh;
    min-height: 100px;
    max-height: 200px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}

.navpersonal{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.imagen_iniciopersonal{
    width: 200px;
    display:block;
    margin:auto;
}

.personal{
    text-align: center;
}
.personal_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.personal_element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 530px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color_cta: #5454D4;
    --color-items: #696871;
}
.personal_element--best{
    background-color: #95ff43;
    --color-personal:#000000;
}

.personal_personal{
    font-size: 1.3rem;
    color: var(--color-personal);
}

.imagenpersonal{
    width: 100%;
    height: 8vh;
    min-height: 200px;
    max-height: 300px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;
}

.imagennavpersonal{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.imagen_personal{
    width: 200px;
    display:block;
    margin:auto;
}

.personalinfo{
    text-align: center;
}
.personal_tableinfo{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.personal_elementinfo{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    padding: 40px;
}
.personal_element--bestinfo{
    background-color: #9c9c9c;
    --color-personal:#000000;
}

.personal_personalinfo{
    font-size: 1.7rem;
    color: var(--color-personal);
}
